.modal-container {
    min-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    gap: 5px;
    align-self: center;
    justify-content: center;
    background-color: transparent; /* ou #525475 para ficar igual ao modal */
}

.list-ingredientes {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-height: 200px;
    overflow-y: auto;
    padding: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container {
    
}