.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.home-page h1 {
    font-size: 60px;
    margin-bottom: px;
    position: absolute;
    top: 60px;
}

.botoes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}